@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    min-height: 100vh;
}

header {
    font-size: 16px;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 10px;
    border: none;
    background-color: white;
    outline: none;
    font-size: 18px;
}

form button {
    color: #0082c8;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background-color: #00a6ff;
}